{% extends 'base.html' %}
{% block extra_head %}
<link rel="stylesheet" href="/static/css/choices.min.css" />
<script src="/static/js/choices.min.js"></script>
<script src="/static/js/accounting.min.js"></script>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row mb-3">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/penjualan">Penjualan</a></li>
          <li class="breadcrumb-item active" aria-current="page">#{{ jual.id }}</li>
        </ol>
      </nav>
      <div class="text-uppercase text-muted fs-6">Penjualan</div>
      <h2><span class="text-muted">#{{ jual.id }}</span> - {{ jual.pelanggan.nama }} </h2>
      
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card border-rounded">
        <div class="card-body">
          <div class="row">
            <div class="col">{{ jual.s_status()|safe }}</div>
            <div class="col">{{ jual.tanggal }}</div>
            <div class="col"></div>
          </div>
        </div>
      </div>
      <h3>Item Barang</h3>
      {% if jual.itemjual_set %}
      <table class="table">
        <thead>
          <tr>
            <th>Barang</th>
            <th>Banyak</th>
            <th>Harga Satuan</th>
            <th>Jumlah Harga</th>
          </tr>
        </thead>
      {% for item in jual.itemjual_set %}
        <tr>
          <td>{{ item.obat }}</td>
          <td class="text-end font-monospace text-muted">{{ item.banyak }}</td>
          <td class="text-end font-monospace text-muted currency">{{ item.harga }}</td>
          <td class="text-end font-monospace text-muted currency">{{ item.banyak * item.harga }}</td>
        </tr>
      {% endfor %}
      </table>
      {% else %}
      <p><i>Tidak ada item pesanan</i></p>
      {% endif %}
    </div>
    <div class="col-sm-6">
      <div class="p-4"><select id="select-it" class="form-control" name="item[]" multiple placeholder="Pilih Obat" autocomplete="off">
        {% for o in obats %}
        <option value="{{ o.id }}" data-harga="{{ o.h_jual }}" data-nama="{{ o.nama }}"><span>{{ o.nama }}</span><span class="ms-auto">{{ o.h_jual }}</span></option>
        {% endfor %}
      </select>
    </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js_foot %}
<script>
  const obat_el = document.getElementById('select-it');
  let obat_terpilih = [];
  const obat = new Choices('#select-it', {
    allowHTML: true, 
    removeItemButton: true,
    searchResultLimit: 50
  });
  obat_el.addEventListener('addItem', (e) => {
    console.log(e.detail.value);
    obat_terpilih.push(e.detail.value);
  });

  accounting.settings = {
    currency: {
		symbol : "",   // default currency symbol is '$'
		format: "%s%v", // controls output: %s = symbol, %v = value/number (can be object: see below)
		decimal : ",",  // decimal point separator
		thousand: ".",  // thousands separator
		precision : 0   // decimal places
	},
	number: {
		precision : 0,  // default precision on numbers is 0
		thousand: ",",
		decimal : "."
	}
}

  for (c of document.querySelectorAll('.currency')) {
    c.innerText = accounting.formatMoney(c.innerText)
  }
  
</script>
{% endblock %}