{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Pelanggan</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>Nama</th>
            <th>Alamat</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for p in users %}
          <tr>
            <td>{{ p.nama }}</td>
            <td>{{ p.alamat }}</td>
            <td></td>
            <td></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}