{% if current_user.role == 1 %}
{% extends 'base_sales.html' %}
{% else %}
{% extends 'base.html' %}
{% endif %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>Atur Ulang Password</h2>
      <form action="/password" method="POST">
        <div class="mb-3 form-inline">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" disabled id="username" value="{{ user.username }}">
        </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password Baru</label>
        <input type="password" class="form-control" name="password" id="password">
        <div class="form-text text-muted"><a href="javascript:;" id="id_show"><i class="bi bi-eye"></i> Tampilkan</a>, Minimal 4 karakter</div>
      </div>
      <div class="mb-3 mt-5">
        <button id="id_submit" class="btn btn-primary px-3 me-2" disabled>Set Password</button> <a class="btn btn-outline-secondary px-2" href="javascript:history.back()">Batal <i class="bi bi-arrow-right"></i></a>
      </div>
      </form>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>
{% endblock %}
{% block js_foot %}
<script>
  const toggle = () => {
    const t = document.getElementById('id_show');
    if (t.innerHTML.match(/ampil/) == 'ampil') {
      document.getElementById('password').type = "text";
      t.innerHTML = `<i class="bi bi-eye-slash"></i> Sembunyikan`;
    } else {
      t.innerHTML = `<i class="bi bi-eye"></i> Tampilkan Password`;
      document.getElementById('password').type = "password";
    }
  };

  const should_i = (e) => {
    if (e.target.value.length > 3) {
      document.getElementById('id_submit').removeAttribute('disabled');
      console.log('password Ok');
    } else {
      document.getElementById('id_submit').setAttribute('disabled', true);
    }
  };

  document.addEventListener('DOMContentLoaded', function() {
    //alert("Ready!");
    document.getElementById('password').value = '';
    document.getElementById('password').addEventListener('input', should_i);
    document.getElementById('id_show').addEventListener('click', toggle);
  }, false);
  
</script>
{% endblock %}